
/* Typography */

html {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

body {
    font-family: "open-sans";
    background-color: #f0f0f0;
}

p {
    margin-bottom: 32px;
    line-height: 40px;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    color: #575757;
}

p.intro {
    font-size: 36px;
line-height: 48px;
font-style: normal;
font-weight: 400;
margin-bottom: 35px;
color: #AAA;
text-align: left;
}

h1, h2, h3{
    font-style: normal;
    font-weight: 700;
    text-align: center;
    font-family: "kulturista-web";
}

h1 {
    font-size: 60px;
    line-height: 64px;
    margin-top: 32px;
    margin-bottom: 47px;
}

h2 {
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 32px;
}

h3 {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 32px;
}


/* Lists */

ul.post-meta{
    list-style: none;
padding: 0;
width: 100%;
text-align: center;
margin-top: -16px;
}

ul.post-meta li.tweetthis::before, ul.post-meta li.timetoread::before{
content: "•";
padding: 0 .45em;
position: relative;
top: -0.075em;
}

ul.post-meta li{
    display: inline;
}

ul.post-meta li p{
    display: inline;
    font-size: 16px;
    color: #b4b4b4;
}

/* Page Structure */

#container{
    max-width: 810px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 8.3%;
}

#main{
    /*padding: 2% 8.3%;*/
}

.articleimage{
    width: 100%;
max-height: 450px;
overflow: hidden;
position: relative;
}

.articleimage img {
    width: 100%;
    position: relative;
}

