
/* Typography */

html {
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: ff-tisa-web-pro;
    background-color: #f0f0f0;
}

p {
    margin-bottom: 32px;
    line-height: 40px;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}

h1, h2, h3{
    font-style: normal;
    font-weight: 700;
    text-align: center;
}

h1 {
    font-size: 60px;
    line-height: 64px;
    margin-top: 7px;
    margin-bottom: 47px;
}

h2 {
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 32px;
}

h3 {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 32px;
}

p.intro {
    font-size: 24px;
    line-height: 32px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 35px;
    color: #AAAAAA;
    text-align: left;
}

/* Lists */

ul.post-meta li:first-child{
    list-style: none;
}

ul.post-meta li{
    display: inline;
}

/* Page Structure */

#container{
    max-width: 900px;
    margin: 0 auto;
    background: #fff;
    padding: 4.3%;
}

