
/* Typography */

html {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

body {
    font-family: "ff-meta-serif-web-pro";
    background-color: #444444;
    font-size: 18px;
    line-height: 1.5em;
}

p {
    margin-bottom: 1.5em; /* 24px */
    line-height: 1.5em; /* 24px */
    font-size: 1em; /* 16px */
    font-style: normal;
    font-weight: 400;
    color: #575757;
}

p.date {
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 800;
    font-family: "proxima-nova";
    font-size: 0.75em; /* 12px; */
    margin-top: 0.18em; /* 3px; */
    margin-bottom: 1.313em; /* 21px; */
    margin-top: 6em; /* 92px */
;
    color: rgb(160, 160, 160);
}

h1, h2, h3, h4{
    font-style: normal;
    font-weight: 800;
    text-align: center;
    font-family: "proxima-nova";
    text-transform: uppercase;
    color: #555;
}

h1 {
    font-size: 3em; /* 48px */
    line-height: 1em; /* 48px */
    margin-bottom: 0.896em; /* 43px */
    letter-spacing: -0.042em; /* -2px; */
}

h2 {
    font-size: 2.25em; /* 36px */
    line-height: 1em; /* 36px */
    margin-bottom: 0.778em; /* 28px */
    margin-top: 0.889em; /* 32px; */
    letter-spacing: -0.056em; /* -2px; */
}

h3 {
    font-size: 1.5em; /* 24px */
    line-height: 1.333em; /* 24px */
    margin-bottom: 1.333em; /* 29px */
    margin-top: 43px;
    letter-spacing: -0.042em; /* -1px; */
}

h4 {
    font-size: 1em; /* 16px */
    line-height: 1em; /* 16px */
    margin-bottom: 1.625em; /* 26px */
    margin-top: 2.813em; /* 45px; */
}


/* Lists */

ul.post-meta{
    list-style: none;
padding: 0;
width: 100%;
text-align: center;
margin-top: -1em; /* -16px */
}

ul.post-meta li.tweetthis::before, ul.post-meta li.timetoread::before{
content: "•";
padding: 0 .45em;
position: relative;
top: -0.075em;
}

ul.post-meta li{
    display: inline;
}

ul.post-meta li p{
    display: inline;
    font-size: 1em; /* 16px */
    color: #b4b4b4;
}

/* Page Structure */

#container{
    max-width: 1140px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 0;
    background: #fff;
}

#main{
    /*padding: 2% 8.3%;*/
}

.articleimage{
    width: 100%;
max-height: 450px;
overflow: hidden;
position: relative;
}

.articleimage img {
    width: 100%;
    position: relative;
}

.post{
     width: 58.5492%;
  margin-left: 20.7254%;
  float: left;
  margin-right: -100%;
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

body{
    font-size: 12px;
}



/* ---------------------------------------------- */
}
/* ---------------------------------------------- */

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

body{
    font-size: 10px;
}

/* ---------------------------------------------- */
}
/* ---------------------------------------------- */

