---
layout: default
---

<img id="logo" class="" src="img/logo.png" />
<span id="title"><strong>marr</strong>industries</span>

{% for item in site.categories.articles limit:10 offset:0 %}
<div class='container {% if item.layout == "quote" %}type-quote{% else %}type-standard{% endif %}'>
  <div class="articleimage">
    {% if item.articleimage %} <img src="img/{{item.articleimage}}" alt="{{item.articleimage}}" /> | {% endif %}
    {% if item.mediaembed %} {{item.mediaembed}} | {% endif %}
  </div>
  <div class="post">
    <div class="post-meta">
    
       <p class="date">Posted on {% if item.layout != "quote" %} 
  {{ item.date | date: "%d %B %Y" }}</p>
     

        <p class="tweetthis">
          <a href="http://twitter.com/intent/tweet?url=http://aaronmarruk.github.com/blog{{item.url}}&text={{item.title}}" target="_blank">Share on Twitter
          </a>
        </p>
     
    </div>


{% endif %}
<h1>{{item.title}}</h1>
<p class="intro">{{item.content}}</p>
{% if item.layout != "quote" %}<a href="/folio{{item.url}}" class="readmore">Continue Reading</a>{% endif %}
</div>
<!--<div class="article-wrapper">
  <div class="help post-content">
    {{ item.content }}
  </div> -->
</div>
</div>
</div>
{% endfor %}

