---
---
<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>{{page.title}}</title>
  <link rel='shortcut icon' href='{{site.baseurl}}/images/favicon.ico' type='image/x-icon' />
  <script type="text/javascript" src="//use.typekit.net/kmh5dlm.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <link rel='stylesheet' href='{{site.baseurl}}/normalize.css'>
  <link rel='stylesheet' href='{{site.baseurl}}/app.css'>
</head>
<body>
  <div id='container'>
    {{content}}
  </div>
</body>
</html>
